//COLOR
$color-primary: #55c57a;
$color-primary-light: #addda5;
$color-primary-dark: #28b485; 
$color-white: white;
$color-black: black;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-grey-dark: #777;
$color-grey-dark-2: #222;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;

//FONT
$default-font-size: 1.6rem;
$font-size-button: .7rem;